* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(76, 245, 146);
  padding: 20px;
}
.nav-logo {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}
.nav-logo a {
  text-decoration: none;
  color: rgb(85, 84, 84);
}

.nav-list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  /* margin-inline: 20px; */
}
.nav-list li {
  padding-inline: 12px;
}
.nav-list li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
.nav-list li a:hover {
  text-decoration: underline;
}
.nav-btn,
.contact-btn,
.blog-btn,
.form-btn {
  padding: 8px 10px;
  display: inline-block;
  border: 1px solid rgb(11, 245, 218);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0a0a0a;
  background-color: rgb(76, 245, 146);
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}
.nav-btn:hover {
  background-color: rgb(0, 97, 86);
  color: #fff;
}
.blog-btn {
  background-color: rgb(11, 245, 218);
  color: #0a0a0a;
}
.blog-btn:hover {
  background-color: #fff;
}
.contact-btn:hover {
  background-color: rgb(11, 245, 218);
}
.hero {
  background-color: #fff;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  /* background-image: url(digital.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
}
.hero-img {
  width: 46.875em;
}
.hero-heading {
  font-size: 50px;
}
.hero-para {
  margin: 20px 0 35px 0;
  line-height: 25px;
  font-size: 20px;
}
span {
  color: rgb(3, 121, 9);
}

/*About-us Section*/
.about-us {
  /* background-color: rgb(11, 245, 218); */
  /* height: 65vh; */
  padding: 20px;
}
.about-us-heading,
.services-heading,
.contact-us-heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}
.about,
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 30px;
}
.about-img,
.service-img {
  height: 300px;
  border-radius: 5px;
}
.about-para,
.services-para {
  line-height: 31px;
  font-size: 22px;
}

/*Services Section*/
.services {
  background-color: rgb(76, 245, 146);
  /* height: 65vh; */
  padding: 20px;
}

/*Contact section*/
.contact-us {
  background-color: rgb(11, 245, 218);
  /* height: 65vh; */
  padding: 20px;
}
form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}
label {
  margin: 15px 0;
  font-weight: 600;
}
input,
textarea {
  padding: 10px 20px;
  margin-bottom: 15px;
  border: 1px solid rgb(2, 71, 63);
  border-radius: 5px;
  background-color: rgb(11, 245, 218);
  outline: none;
}
.form-btn {
  background-color: rgb(6, 197, 175);
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #0a0a0a;
}

.form-btn:hover {
  background-color: rgb(0, 97, 86);
  color: #fff;
}

/*footer*/
footer {
  padding: 20px;
  background-color: rgb(90, 248, 98);
}
footer a {
  color: rgb(3, 121, 9);
  text-decoration: none;
}
footer p {
  text-align: center;
  line-height: 21px;
  font-weight: 700;
}

/*blog1*/
.main-blog {
  padding: 20px;
  background-color: #eef;
  font-family: "Inter", sans-serif;
}
.blog-heading {
  margin-block: 25px;
  text-transform: uppercase;
}
.blog-img {
  width: 95%;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}
.first-section,
.second-section,
.third-section {
  margin-block: 10px;
  line-height: 30px;
  font-size: 18px;
}
.blog-sub-heading {
  margin-top: 40px;
}
.mission {
  margin: 30px 0 10px;
}
article {
  margin-top: 30px;
}
ol,
ul {
  list-style-position: inside;
}
ol li,
ul li {
  padding-block: 3px;
}

/*media queries*/
@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    height: 100vh;
    margin-top: 25px;
  }
  .hero-img {
    width: 350px;
  }
  .about-us {
    margin-top: 20px;
  }
  .about {
    flex-direction: column;
  }
  .service {
    flex-direction: column;
  }
  .close {
    display: none;
  }
  /* .container {
    flex-direction: column;
    align-items: center;
  } */
}

/*blog2/blog3*/
.main-blog2,
.main-blog3 {
  padding: 20px;
  background-color: #eef;
  font-family: "Inter", sans-serif;
}
.blog2-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
}
.blog2-sub-heading {
  margin-top: 40px;
}
.content {
  margin: 30px 0 10px;
}
.cap {
  text-transform: capitalize;
}
.ana {
  margin-top: 12px;
}

/*blogs*/
.container {
  margin-block: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* background-color: green; */
}

.blog-card {
  /* width: 45%; */
  margin: 10px;
  /* background-color: red; */
  padding: 15px;
  border: thin solid rgb(209, 207, 207);
  border-radius: 3px;
}
.blog-card-img {
  width: 100%;
  height: 90%;
  border-radius: 3px;
}
.blog-card-para {
  margin-top: 4px;
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .blog-card {
    width: 45%;
  }
}

/*landing-page*/
.landing-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("nelson-hero.jpeg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  height: 95vh;
  /* filter: brightness(0.4); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-hero-text {
  padding: 20px;
  font-family: "Inter", sans-serif;
  /* background-color: green; */
  /* max-width: 90%; */
}
.landing-heading {
  line-height: 1.4em;
  font-size: 1.8em;
  margin-bottom: 20px;
}
.landing-para {
  line-height: 1.7em;
  font-size: 1.1em;
}
.green {
  color: rgb(76, 245, 146);
  font-size: 1.4em;
}
.white {
  color: #ddd;
}
.landing-buttons {
  margin-top: 20px;
}
.exp-li {
  /* list-style: none; */
  list-style-position: inside;
  list-style-type: circle;
  line-height: 31px;
  font-size: 18px;
}
.exp-li p {
  padding-block: 5px;
  font-weight: 500;
}
.exp-li li {
  padding-block: 5px;
  font-weight: 500;
}

.expectations {
  padding: 20px;
  background-color: rgb(11, 245, 218);
}
.exp-head {
  margin-block: 10px;
  text-align: center;
}
.expect-img {
  width: 90%;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}
.who-img {
  width: 90%;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}
.who {
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #eef;
  /* background-color: red; */
}

.who-li li {
  line-height: 20px;
  padding-block: 5px;
}
.sum {
  padding: 10px 20px 10px;
  font-size: 18px;
  background-color: #eef;
}
.start-btn {
  padding: 8px 10px;
  display: inline-block;
  border: 1px solid rgb(11, 245, 218);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0a0a0a;
  background-color: rgb(11, 245, 218);
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  margin-block: 13px;
}
.start-btn:hover {
  background-color: #eef;
}
.exp-info {
  display: flex;
  flex-direction: column;
}
.who-info {
  display: flex;
  flex-direction: column;
}
.ben-intro {
  margin-bottom: 5px;
}
.thanks-heading {
  margin-bottom: 30px;
}
@media screen and (min-width: 900px) {
  .landing-hero-text {
    max-width: 80%;
  }
  .landing-heading {
    font-size: 2.2em;
  }
  .landing-para {
    font-size: 1.3em;
  }
  .exp-info {
    display: flex;
    flex-direction: row-reverse;
  }
  .expect-img {
    width: 50%;
    display: block;
    margin-left: 12px;
    border-radius: 5px;
  }
  .who-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .who-img {
    width: 45%;
    display: block;
    margin-right: 12px;
    border-radius: 5px;
  }
  .who-info-text {
    line-height: 20px;
    font-size: 19px;
  }
  .sum {
    font-size: 22px;
  }
  .who-li li {
    line-height: 20px;
    padding-block: 10px;
  }
  .ben-intro {
    margin-bottom: 5px;
  }
}
